__pychache__
*.env
venv/
crm/__pycache__/__init__.cpython-38.pyc
crm/__pycache__/settings.cpython-38.pyc
crm/__pycache__/urls.cpython-38.pyc
crm/__pycache__/wsgi.cpython-38.pyc
accounts/__pycache__/__init__.cpython-38.pyc
accounts/__pycache__/admin.cpython-38.pyc
accounts/__pycache__/models.cpython-38.pyc
accounts/__pycache__/urls.cpython-38.pyc
accounts/__pycache__/views.cpython-38.pyc
