{% extends 'accounts/main.html' %}

{% block content %}
{% include 'accounts/status.html' %}
<br>

<div class="row">
    <div class="col-sm-5">
        <h5 class="card-title">Customers:</h5>
        <hr>
        <div class="card card-body">
            <a href="#" class="btn btn-primary">Create Customer</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th>Phone Numbers</th>
                </tr>
                {% for i in customers %}
                    <tr>
                        <td><a href="{% url 'customers' i.id %}" class="btn-sm btn-primary">View</a></td>
                        <td>{{i.name}}</a></td>
                        <td>{{i.phone}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-sm-7">
        <h5 class="card-title">Last 5 Orders:</h5>
        <hr>
        <div class="card card-body">
            <table>
                <tr>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Date Orderd</th>
                    <th>Status</th>
                    <!-- <th>Remove</th> -->
                </tr>                   
                {% for i in orders %}
                    <tr>
                        <td>{{ i.customer }}</td>
                        <td>{{ i.product }}</td>
                        <td>{{ i.date_created }}</td>
                        <td>{{i.status}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}