{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <!-- Fix missing form management data error  -->
                {{ formset.management_form }}
                <!-- Dispaly forms for order input -->
                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}
                <button type="submit" name  ="Submit">Submit</button>   
            </form>
        </div>
    </div>
</div>


{% endblock %}